client/build
client/priv/static
server/build
common/build

# I'm using a copy of the lustre src in src/lustre because I fixed a bug in my local version
common/src/lustre
common/src/lustre*
common/src/server-component.mjs
common/src/vdom.ffi.mjs
